<div class="">
    <span class="tui-text_h3 tui-row normalized-row">Тут что-то&nbsp;
        <tui-loader [showLoader]="true" [inheritColor]="true">
            <span class="tui-text_h3 text-hi" [innerText]="'залупилось'"></span>
            <!-- <button tuiButton type="button" appearance='flat' size="xl">
                </button> -->
        </tui-loader>
    </span>
    <br>
    <span class="tui-text_body-xl tui-row">
        Не пускай джуна в прод.<br> В функции что он написал, закралась ошибка.<br>
        По описанию наших аналитиков, подсчет голубиных крошек на полу должно отрисовываться плавно.<br>
        А по итогу.... Лаги, сильный фриз, и только потом итог исполнения функции. <br>
        Кажется настало твое время, мой друг
    </span>
</div>